node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


api/__pycache__
api/.env

api.zip
api.7z
api.rar
api.tar.gz
api.tar
api.tar.bz2
api.tgz
api.z